@model  IEnumerable<SolidWaste.Models.Municipality>
     ﻿
@section CssHeader {
    <link rel="stylesheet" href="https://js.arcgis.com/3.18/esri/css/esri.css">
}



<div id="dataDiv" class="display-none"
     data-x_coor="@ViewBag.District.zoomed_x_coordinate"
     data-y_coor="@ViewBag.District.zoomed_y_coordinate"
     data-district_id="@ViewBag.id"
     data-obj_id="@ViewBag.District.FID"
     data-search_xmin="@ViewBag.District.search_xmin"
     data-search_xmax="@ViewBag.District.search_xmax"
     data-search_ymin="@ViewBag.District.search_ymin"
     data-search_ymax="@ViewBag.District.search_ymax"
     data-district-url="@Url.Action("getMunicipalities", "ajax")"></div>
<div class="row" style="font-family:initial; padding-left:20px;">
    <div class="col-md-5">
        <h1>District @ViewBag.District.Name</h1>
        <h5>Municipalities: @ViewBag.numMunicipalities</h5>
        <h5>Total population: @ViewBag.totalPopulation.</h5>
    </div>
    <div class="col-md-7">
        <img src="@Url.Content("~/Content/siteImages/"+ViewBag.districtImage)" style="float:right;"/>
    </div>


</div>

<div class="position-relative">
    <div id="viewDiv"></div>
    <div role="presentation" class="arcgisSearch" id="search" style="display: block;">
        <div role="presentation" class="searchGroup" data-dojo-attach-point="containerNode">
            <div data-dojo-attach-point="expandNode" class="searchExpandContainer">
                <div class="searchAnimate">
                    <div class="searchInputGroup">
                        <form id="foo">
                            <input maxlength="128" autocomplete="off" type="text" tabindex="0" class="searchInput" value="" aria-haspopup="true" id="address" role="textbox" placeholder="Find address or place" title="Find address or place">
                        </form>
                    </div>
                </div>
            </div>
            <div id="locate" role="button" title="Search" class="searchBtn searchSubmit" tabindex="0">
                <span aria-hidden="true" role="presentation" class="searchIcon esri-icon-search"></span>
                <span class="searchButtonText">Search</span>
            </div>
        </div>
    </div>		
    <select id="municipality-selection" class="form-control btn-select-municipalities">
        <option>None</option>

        @foreach (var item in Model)
        {
            <option data-boundaries="@item.boundary" data-id="@item.MunicipalityID">@item.Name</option>
        }
    </select>
    <button id="btn-municipality-save" class="btn btn-default">Save Changes</button>
    <button id="btn-togglelorries" data-mode="false" class="btn btn-default">View waste lorries</button>
    <button id="btn-addlorries" class="btn btn-default">Add a lorry</button>
    <button id="btn-viewroutes" class="btn btn-default">View Routes</button>
    <button id="btn-addroute" class="btn btn-default">Add Route</button>

    <div id="instructions" class="instructions">
    </div>

        <!--    <div id="search"></div>-->
</div>

@section ScriptsFooter {
    <script src="https://js.arcgis.com/3.18/" type="text/javascript"></script>
    <script> window.baseUrl = "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"))"; </script>
    <script src="@Url.Content("~/Scripts/arcgis-district.js")" type="text/javascript"></script>


}


